.container {
    padding-top: var(--padding-medium);
    padding-bottom: var(--padding-large);

    display: flex;
    flex-direction: column;
    gap: var(--padding-medium);
}

.navbar {
    display: flex;
    align-items: center;
    gap: var(--padding-small);

    user-select: none;
    -webkit-user-select: none;
}

.logo {
    width: 50px;
    -webkit-user-drag: none;
}

.user {
    flex-grow: 1;
    text-align: right;
}

.name {
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.signout:hover {
    text-decoration: underline;
    cursor: pointer;
}