.wrapper {
    background-color: var(--dsa-white);
    outline: var(--dsa-black) solid 1px;
    padding: calc(var(--padding-large) * 2);

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px) {
    .wrapper {
        padding: var(--padding-large);
    }
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--padding-large);

    max-width: 600px;
}

.responses {
    display: flex;
    flex-direction: column;
    gap: var(--padding-large);

    text-align: justify;
}

.label {
    font-weight: var(--font-weight-semi);
}

.value {
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);

    ul, ol {
        margin: 0;
    }
}

.field {
    font-weight: var(--font-weight-medium);
}