.wrapper {
    background-color: var(--dsa-white);
    outline: var(--dsa-black) solid 1px;
    padding: calc(var(--padding-large) * 3) var(--padding-large);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--padding-large);

    max-width: 600px;
}

.name {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
}

.responses {
    display: flex;
    flex-direction: column;
    gap: var(--padding-large);

    text-align: justify;
}

.label {
    font-weight: var(--font-weight-semi);
}

.field {
    font-weight: var(--font-weight-medium);
}