.header {
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
}

.forms {
    margin-top: var(--padding-large);
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
}