.card {
    background-color: var(--dsa-white);
    outline: var(--dsa-black) solid 1px;
    padding: var(--padding-small);

    display: flex;
    gap: var(--padding-medium);

    cursor: pointer;
    user-select: none;
}

.primarySection {
    flex-grow: 1;

}

.description {
    max-width: 400px;
}

.label {
    font-weight: var(--font-weight-bold);
}

.secondarySection {
    text-align: right;
}

.secondaryLabel {
    font-weight: var(--font-weight-semi);
}