.container {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: var(--padding-large);
}

.content {
    color: var(--dsa-black);
    background-color: var(--dsa-white);

    padding: calc(var(--padding-large) * 2) calc(var(--padding-large) * 3);
    outline: var(--dsa-black) solid 1px;

    display: flex;
    flex-direction: column;
    gap: var(--padding-small);

    height: min-content;

    h1 {
        margin-top: var(--padding-tiny);
    }

    h2 {
        margin-top: var(--padding-large);
    }

    p, li {
        font-size: var(--font-size-medium-small);
        margin-bottom: var(--padding-small);
    }

    ul, ol {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .content {
        padding: var(--padding-large);
    }
}

.contentTitle {
    text-align: center;
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--padding-small)
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr;
}