.card {
    background-color: var(--dsa-white);
    outline: var(--dsa-black) solid 1px;
    padding: var(--padding-small);

    cursor: pointer;
}

.label {
    user-select: none;

    font-size: var(--font-size-medium-small);
    font-weight: var(--font-weight-semi);

    color: var(--dsa-black-tint-1)
}